/*reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

body {
line-height: 1;
}

ol, ul {
list-style: none;
}

blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

table {
border-collapse: collapse;
border-spacing: 0;
}
/*==========this is background image on body============*/
body {
  margin: 0;
  padding: 0;
  background-image: url('./images/homebg.jpg');
  background-size: cover;
}

/*=======================Home=========================*/
.App{
  display: flex;
  flex-direction: column;
  text-align: center;
}


.home{
margin-top: 15%;
}

#name {
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  font-weight: bold;
  margin:15px;
  text-shadow: 5px 3px 5px white;

}

#title{
  margin:20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;

}

.button{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.button2{
  height: 30px;
  width:10vw;
  margin: 10px;
  vertical-align: middle;
  background-color: none;
  border:3px solid black;
  padding: 10px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.button2:hover{
  color: #07F3F7;
  border:3px solid #07F3F7;

}

.button3{
  height: 30px;
  width:10vw;
  margin: 10px;
  vertical-align: middle;
  background-color: none;
  border:3px solid black;
  padding: 10px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.button3:hover{
  color: #07F3F7;
  border:3px solid #07F3F7;

}

img{
position:absolute;
background-image: url('./images/homebg.jpg');
background-size: cover;
left:0;
width: 100%;
height:900px;
z-index: -33;
}
/*=======================Header=========================*/
header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

ul {
  order:1;
  display:inline-flex;
  justify-content: center;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;

}
ul:hover{

}

li{
  margin:10px;

}
nav a {
  color: #2d2d2d;
  text-decoration: none;
}
/*===================Categories=====================*/

.button-list{
display:flex;
flex-wrap:wrap;
justify-content: center;
margin:20px;

}

.chest-button{
  height: 30vh;
  width:30vw;
  margin: 20px;
  vertical-align: middle;
  border:0px solid black;
  padding: 10px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://cdn-maf0.heartyhosting.com/sites/muscleandfitness.com/files/styles/full_node_image_1090x614/public/media/incline-barbell-bench-press.jpg?itok=2loQOQa2');
  background-size: cover;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  box-shadow: 2px 2px 2px black;

}

.legs-button{
  height: 30vh;
  width:30vw;
  margin: 20px;
  vertical-align: middle;
  background-color: none;
  border:0px solid black;
  padding: 10px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  background-image: url('https://www.bodybuilding.com/fun/images/2015/leg-workouts-for-men-the-7-best-workouts-for-thicker-quads-glutes-and-hams-mobile-facebook-960x540.jpg');
  background-size: cover;
  box-shadow: 2px 2px 2px black;
}

.back-button{
  height: 30vh;
  width:30vw;
  margin: 20px;
  vertical-align: middle;
  background-color: none;
  border:0px solid black;
  padding: 10px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  background-image: url('https://cdn-maf0.heartyhosting.com/sites/muscleandfitness.com/files/media/charlie%20francis%20back.jpg');
  background-size: cover;
  box-shadow: 2px 2px 2px black;
}

.delts-button{
  height: 30vh;
  width:30vw;
  margin: 20px;
  vertical-align: middle;
  background-color: none;
  border:0px solid black;
  padding: 10px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  background-image: url('http://www.leanitup.com/wp-content/uploads/2015/06/5-shoulder-routines-for-3d-definition-facebook.jpg');
  background-size: cover;
  box-shadow: 2px 2px 2px black;

}

#text{
  margin-top:60px;
  display:inline-block;
  font-size: 80px;
  color:white;
  border: 2px solid white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

#text:hover{
  color: #07F3F7;
  border:3px solid #07F3F7;
  background-color: rgba(0, 0, 0, 0.7);
}

/*=================routinelist=================*/
ul {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.routines{
  width: 200px;
margin: 20px;
padding: 10px;
border: 2px solid black;
background-color: yellow;
font-family: 'Montserrat', sans-serif;
font-size: 30px;

}


/*================exercise list===================*/
.exercise-list{
  display: flex;
  flex-wrap: nowrap;
  height:20vh;
  border: 2px solid black;
  background-color: lightblue;
  padding:5px;
}

.exercise-card{
  background-color:yellow;
  margin:5px;
  padding:10px;
}

/*====================instructions===================*/
.instructions{

  display:flex;
  justify-content: center;

}
iframe{
  border: 20px solid black;
}
/*===================profile=================*/

.welcome{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

#welcome-name{
  font-size: 60px;
  font-weight: bold;
  margin:30px;
}
/*
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
*/

/*================login and register===================*/
.form-container {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.4);
  /*background-color: rgba(9,76,162,0.4);*/
  height: 70vh;
  width: 40vw;
  margin: 0 auto;
  margin-top: 10vh;
  color: #fff;
  text-shadow: #000 0px 0px 5px;
  /*box-shadow: #000 0px 2px 5px;*/
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*text-shadow: 0px 0px 5px;*/
}

form h1 {
  font-size: 1.8em;
  margin-bottom: 10%;
  font-weight: bolder;
}
input {
  color: white;
  /*font-weight: lighter;*/
  font-size: 2em;
  margin-bottom: 10%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: #fff;
  text-shadow: #000 0px 0px 5px;
}

input::placeholder {
  color: white;
  font-weight: lighter;
}
form h2 {
  font-size: 1.2em;
  margin-bottom: 10%;
  margin-top: 2%;
}
.submit-btn {
  background-color: white;
  font-size: 1.5em;
  padding: 5px 20px 5px 20px;
  color: black;
  font-weight: lighter;
  width: inherit;
  text-shadow: none;
}

form a {
  text-shadow: none;
}
